<%= form_with model: @user, url: { action: 'admin' } do |form| %>
  <div class="field form-group">
    <%= form.label "Contrato" %>
    <%= form.file_field :contract, class: 'form-control' %>
  </div>

  <p>
    <% if @user.contract.attached? %>
      <a href="<%= (url_for(@user.contract)) %>"><%= @user.contract.blob.filename %></a>
    <% end %>
  </p>

  <div class="field form-group">
    <%= form.label "Beneficios" %>
    <%= form.file_field :document, class: 'form-control' %>
  </div>

  <p>
    <% if @user.document.attached? %>
      <a href="<%= (url_for(@user.document)) %>"><%= @user.document.blob.filename %></a>
    <% end %>
  </p>

  <div class="field form-group">
    <%= form.label "Contraseña" %>
    <%= form.text_field :password, class: 'form-control' %>
  </div>
  
  <p id="alert"><%= alert %></p>

  <div class="actions form-group">
    <%= form.submit 'Guardar', class: 'btn btn-primary' %>
  </div>
<% end %>
