<div id="show">
  <div style="text-align: center; background-color: #00ACD8; padding: 20px;">
    <div style="padding-bottom: 20px;">
      <%= image_tag "horizontal.png", class: 'horizontal-logo' %>
    </div>

    <% if @user.avatar.attached? %>
      <image class="avatar" src="<%= (url_for(@user.avatar)) %>">
    <% end %>
  </div>

  <p>
    <strong>Nombre</strong><br>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Apellido</strong><br>
    <%= @user.last_name %>
  </p>

  <p>
    <strong>Referencia vivienda</strong><br>
    <%= @user.address %>
  </p>

  <p>
    <strong>Empresa</strong><br>
    <%= @user.company %>
  </p>

  <p>
    <strong>Correo</strong><br>
    <%= @user.email %>
  </p>

  <p>
    <strong>Número de contacto</strong><br>
    <%= @user.phone %>
  </p>

  <p style="text-align: center;">
    <a href="<%= url_for action: 'vcf' %>">
      <button type="button" class="btn btn-primary" id="save-contact">
        Guardar contacto
      </button>
    </a>
  </p>

  <p style="text-align: center;">
    <a href="<%= url_for action: 'login', email: @user.email %>">
      <button type="button" class="btn btn-success" id="save-contact" title="Acceder a información del producto">
        Acceder
      </button>
    </a>
  </p>

  <p style="text-align: center;">
    <%= raw @svg[38..] %>
  </p>
</div>
